%section.row
  .cell.ptxl

    .g

      .g-b.g-b--m--1of3.tal--m

        %h1.ttu.mtm--m

          %span.db--m Some
          %span.db--m Damn
          %span.db--m Good
          %span.db--m Headline

        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique velit massa sit amet dictum sem luctus interdum.

        .btn.db--m{ href: '#' } Sketch

      .g-b.g-b--m--2of3.hero--img

        %img.db.mtl.mtf--m{ alt: 'iPhone preview', src: '/assets/images/phone--l.jpg' }

%section.row.row--peek.pbm.ptm.pbl--m.ptl--m

  .cell.well

    %p.tci.tsl.pbf Over 80 unique screens, 8 themes, and 200 elements

    %a.btn{ href: '#' } Get It Now

%section.row.bdrb

  .cell.well

    .g

      .g-b.g-b--m--1of3

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-shape.png', width: '110' }

        %h3.h2.mts Flexible

        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique velit massa sit amet dictum sem luctus interdum.

      .g-b.g-b--m--1of3

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-wheel.png', width: '103' }

        %h3.h2.mts User Driven

        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique velit massa sit amet dictum sem luctus interdum.

      .g-b.g-b--m--1of3

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-bolt.png', width: '61' }

        %h3.h2.mts Efficient

        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique velit massa sit amet dictum sem luctus interdum.

%section.row

  .cell.well

    %h3.tsxl.ttu WTF are you waiting for?

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique velit massa sit amet dictum sem luctus interdum.

    %a.btn{ href: '#' } Get It Now
