.row
  .cell.well

    %h1.ttu Some Damn Good Headline

    %h2 Efficient
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique velit massa sit amet dictum sem luctus interdum.

    %p
      .btn{ href: '#' } Sketch
