%section.row
  .cell.ptxl

    .g

      .g-b.g-b--m--1of3.tal--m

        %h1.ttu.mtm--m

          Efficient, Flexible,  and User-driven UI kits. Yours for

        %p
          Casa is the result of a three month sprint with local designers to create a free product design resource. Download all 5 Kits, 54 screens, and hundreds of components now.

        .btn.db--m{ href: '#' } Sketch

      .g-b.g-b--m--2of3.hero--img

        %img.db.mtl.mtf--m{ alt: 'iPhone preview', src: '/assets/images/phone--l.jpg' }

%section.row.row--peek.pbm.ptm.pbl--m.ptl--m

  .cell.well

    %p.tci.tsl.pbf Over 50 screens, 5 themes, and hundreds of components  from 5 designers

    %a.btn{ href: '#' } Get It Now

%section.row.bdrb.magic-border

  .cell.well

    .g

      .g-b.g-b--m--1of3.ptl.ptf--m

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-shape.png', width: '110' }

        %h3.h2.mts Flexible

        %p
          Developed with varied personas and use-cases in mind, every kit is made to be used by a range of users.

      .g-b.g-b--m--1of3.ptl.ptf--m

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-wheel.png', width: '103' }

        %h3.h2.mts User Driven

        %p
          With 4 unique assumption personas, Casa was built with the user in mind.

      .g-b.g-b--m--1of3.ptl.ptf--m

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-bolt.png', width: '61' }

        %h3.h2.mts Efficient

        %p
          After creating wireframes, each kit was tested with an audience to streamline the designs, making them efficient and easy to use.

%section

  .well

    %ul.list.list--inline

      %li.list-item.plm.prm
        %button.toggleNav--item.is--active Avery

      %li.list-item.plm.prm
        %button.toggleNav--item Tommy

      %li.list-item.plm.prm
        %button.toggleNav--item Paul

      %li.list-item.plm.prm
        %button.toggleNav--item Justin

      %li.list-item.plm.prm
        %button.toggleNav--item Tyler

    .gallery

      .preview.preview--avery

        .designer.pbl.ptl

          %img{ class: 'ra', src: '/assets/images/avery-smith.jpg', width: '150' }
          %h3 Avery Smith
          .cell.cell--xs
            %p
              Hello, I’m Avery A. Smith III. I’m a UI Designer living in the sunshine state. I’ve had experience in screen printing, art direction, marketing and branding and enjoy the beach, camping and comics. When I’m not designing stuff, I like shooting photos and biking around Central Florida.

            %ul.list.list--inline

              %li.list-item
                Twitter:
                %a{ href: 'https://twitter.com/AverySmith' } AverySmith

              %li.list-item
                Dribbble:
                %a{ href: 'https://dribbble.com/AverySmith' } AverySmith

        %img.preview-img{ src: '/assets/images/previews/avery-01.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-02.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-03.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-04.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-05.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-06.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-07.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-08.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-09.png'}
        %img.preview-img{ src: '/assets/images/previews/avery-10.png'}

      .preview.preview--tommy

        .designer.pbl.ptl

          %img{ class: 'ra', src: '/assets/images/tommy-hung.jpg', width: '150' }
          %h3 Tommy Hung
          .cell.cell--xs
            %p
              Hi, I’m Tommy Hung (Hung, like a black guy) and I’m a UX Designer in Orlando, Florida. I recently made the career shift in to UX Design after a few years in Psychological research and Marketing. I’m fascinated by behavior and design, and I’ve had a blast so far. Outside of work, You can find me doing handstands on the dance floor or shooting photos.

            %ul.list.list--inline

              %li.list-item
                Twitter:
                %a{ href: 'https://twitter.com/Tommyx88' } Tommyx88

              %li.list-item
                Dribbble:
                %a{ href: 'https://dribbble.com/chopstixcankill' } chopstixcankill

        %img.preview-img{ src: '/assets/images/previews/tommy-01.png'}
        %img.preview-img{ src: '/assets/images/previews/tommy-02.png'}
        %img.preview-img{ src: '/assets/images/previews/tommy-03.png'}
        %img.preview-img{ src: '/assets/images/previews/tommy-04.png'}
        %img.preview-img{ src: '/assets/images/previews/tommy-05.png'}
        %img.preview-img{ src: '/assets/images/previews/tommy-06.png'}
        %img.preview-img{ src: '/assets/images/previews/tommy-07.png'}
        %img.preview-img{ src: '/assets/images/previews/tommy-08.png'}

      .preview.preview--paul

        .designer.pbl.ptl

          %img{ class: 'ra', src: '/assets/images/paul-hershey.jpg', width: '150' }
          %h3 Paul Hershey
          .cell.cell--xs
            %p
              I’m a Product Designer in Orlando with a passion for design, illustration and music. I’m obsessed with user experience and pixel perfect design.

            %ul.list.list--inline

              %li.list-item
                Twitter:
                %a{ href: 'https://twitter.com/paulhershey' } paulhershey

              %li.list-item
                Dribbble:
                %a{ href: 'https://dribbble.com/paulhershey' } paulhershey

        %img.preview-img{ src: '/assets/images/previews/paul-01.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-02.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-03.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-04.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-05.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-06.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-07.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-08.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-09.png'}
        %img.preview-img{ src: '/assets/images/previews/paul-10.png'}

      .preview.preview--justin

        .designer.pbl.ptl

          %img{ class: 'ra', src: '/assets/images/justin-haldane.jpg', width: '150' }
          %h3 Justin Haldane
          .cell.cell--xs
            %p
              I’m a UX Designer and Product Manager in Orlando, Florida. Currently I’m working with Viewpost as the Director of User Experience.

            %ul.list.list--inline

              %li.list-item
                Twitter:
                %a{ href: 'https://twitter.com/jhaldane' } jhaldane

              %li.list-item
                Dribbble:
                %a{ href: 'https://dribbble.com/jhaldane' } jhaldane

        %img.preview-img{ src: '/assets/images/previews/justin-01.png'}
        %img.preview-img{ src: '/assets/images/previews/justin-02.png'}
        %img.preview-img{ src: '/assets/images/previews/justin-03.png'}
        %img.preview-img{ src: '/assets/images/previews/justin-04.png'}
        %img.preview-img{ src: '/assets/images/previews/justin-05.png'}
        %img.preview-img{ src: '/assets/images/previews/justin-06.png'}
        %img.preview-img{ src: '/assets/images/previews/justin-07.png'}
        %img.preview-img{ src: '/assets/images/previews/justin-08.png'}

      .preview.preview--tyler

        .designer.pbl.ptl

          %img{ class: 'ra', src: '/assets/images/tyler-fortune.jpg', width: '150' }
          %h3 Tyler Fortune
          .cell.cell--xs
            %p
              I'm Tyler Fortune (Fortune, like the cookie) and I'm a product designer from Orlando, Florida. I'm also a lover of music, surfing, &amp; skateboarding.

            %ul.list.list--inline

              %li.list-item
                Twitter:
                %a{ href: 'https://twitter.com/tylerfortune8' } tylerfortune8

              %li.list-item
                Dribbble:
                %a{ href: 'https://dribbble.com/tylerfortune8' } tylerfortune8

        %img.preview-img{ src: '/assets/images/previews/tyler-01.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-02.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-03.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-04.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-05.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-06.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-07.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-08.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-09.png'}
        %img.preview-img{ src: '/assets/images/previews/tyler-10.png'}

%section.row

  .cell.well

    %h3.tsxl.ttu What are you waiting for?

    .cell.cell--s

      %p
        Feel free to use these resources however you want. If you’re interested, get in touch with us and let’s work on something together!

    %a.btn{ href: '#' } Get It Now
