%section.row
  .cell.ptxl

    .g

      .g-b.g-b--m--1of3.tal--m

        %h1.ttu.mtm--m

          Efficient, Flexible,  and User-driven UI kits. Yours for

        %p
          Casa is the result of a three month sprint with local designers to create a free product design resource. Download all 5 Kits, 54 screens, and hundreds of components now.

        .btn.db--m{ href: '#' } Sketch

      .g-b.g-b--m--2of3.hero--img

        %img.db.mtl.mtf--m{ alt: 'iPhone preview', src: '/assets/images/phone--l.jpg' }

%section.row.row--peek.pbm.ptm.pbl--m.ptl--m

  .cell.well

    %p.tci.tsl.pbf Over 50 screens, 5 themes, and hundreds of components  from 5 designers

    %a.btn{ href: '#' } Get It Now

%section.row.bdrb.magic-border

  .cell.well

    .g

      .g-b.g-b--m--1of3.ptl.ptf--m

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-shape.png', width: '110' }

        %h3.h2.mts Flexible

        %p
          Developed with varied personas and use-cases in mind, every kit is made to be used by a range of users.

      .g-b.g-b--m--1of3.ptl.ptf--m

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-wheel.png', width: '103' }

        %h3.h2.mts User Driven

        %p
          With 4 unique assumption personas, Casa was built with the user in mind.

      .g-b.g-b--m--1of3.ptl.ptf--m

        .img-columns
          .img--column

            %img.valign--m{ src: '/assets/images/icon-bolt.png', width: '61' }

        %h3.h2.mts Efficient

        %p
          After creating wireframes, each kit was tested with an audience to streamline the designs, making them efficient and easy to use.

/ %section.row

/   .well

/     %ul.list.list--inline

/       %li.list-item.plm.prm
/         %button.toggleNav--item.is--active Avery

/       %li.list-item.plm.prm
/         %button.toggleNav--item Tommy

/       %li.list-item.plm.prm
/         %button.toggleNav--item Paul

/       %li.list-item.plm.prm
/         %button.toggleNav--item Justin

/       %li.list-item.plm.prm
/         %button.toggleNav--item Tyler


%section.row

  .cell.well

    %h3.tsxl.ttu What are you waiting for?

    .cell.cell--s

      %p
        Feel free to use these resources however you want. If you’re interested, get in touch with us and let’s work on something together!

    %a.btn{ href: '#' } Get It Now
